<div class="my-5">
  <div>
    @for(food of cartList$ | async; track food.name) {
      <div *ngIf="food.quantity > 0" class="card shadow-sm p-2 d-flex align-items-start gap-2 mb-2">
        <div>
            <img [src]="food.image"
             [alt]="food.name"
             class="rounded"
             style="width: 40px; height: 40px; object-fit: cover;">
            <p class="mb-0 text-muted small">x{{ food.quantity }}</p>
        </div>
        <div>
            <span class="fw-semibold small">{{ food.name }} </span>
            <span class="badge bg-primary">${{ food.price * food.quantity }}</span>
        </div>
        <app-input-integer 
            class="btn btn-sm w-50 m-0 p-0"
            [(quantity)]="food.quantity"
            [showInput]="false" 
            [showBtnAdd]="false"
            (decreased)="returnToStock(food)"
        ></app-input-integer>
      </div>
    }   
    <div *ngIf="hasFoods" class="border rounded bg-light text-dark mb-2 shadow-sm">
      <p class="mb-2 fw-semibold">Total: <span class="text-success">{{calculateTotal()}}</span></p>
      <button class="btn btn-primary w-100">COMPRAR</button>
    </div>
  </div>
</div>