<header class="container d-flex justify-content-center bg-warning w-100">
  <div class="row align-items-center">
    <div class="col-10">
      <a [routerLink]="['/']">
        <img class="w-100" src="{{logo}}" alt="Cluckin' Bell logo">
      </a>
    </div>
    <div class="col-2 text-end mt-3 m-0">
      <a class="text-decoration-none" [routerLink]="['/about']">ℹ️</a>
    </div>
  </div>

</header>

<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container justify-content-around">
    <a class="navbar-brand text-warning text-center">
      🍔<br><small>Comida</small>
    </a>
    <a class="navbar-brand text-warning text-center" href="#">
      🍦<br><small>Postres</small>
    </a>
    <a class="navbar-brand text-warning text-center" href="#">
      🥤<br><small>Bebidas</small>
    </a>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
  <p class="mb-0">© 2025 Menú Digital 🍽️ - Todos los derechos reservados</p>
</footer>