<header class="container d-flex justify-content-center bg-warning"><img class="w-100" src="{{logo}}" alt=""></header>

<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container justify-content-around">
    <a class="navbar-brand text-warning text-center" href="#">
      🍔<br><small>Comida</small>
    </a>
    <a class="navbar-brand text-warning text-center" href="#">
      🍦<br><small>Postres</small>
    </a>
    <a class="navbar-brand text-warning text-center" href="#">
      🥤<br><small>Bebidas</small>
    </a>
  </div>
</nav>


<div class="container">
  <app-menu-foods></app-menu-foods>
</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
  <p class="mb-0">© 2025 Menú Digital 🍽️ - Todos los derechos reservados</p>
</footer>